*{
  margin:0;
	padding: 0;

}


body {
  background-color: lightskyblue;

}



#container {
  margin-top: 10px;
	min-height: 100%;

}



#main {
	padding-bottom: 5px;
  height: 300px;
}

#head{
  padding-left: 10px;
  margin-left: 10px;
  color: darkblue;
  text-decoration: underline;
  font-family: 'Permanent Marker', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Merienda One', cursive;
}

#head2{
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  margin-left: 10px;
  color: darkblue;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Indie Flower', cursive;
  font-family: 'Merienda One', cursive;

}


#list{
  scroll-behavior: vertical;
}

.listclass{
  overflow: auto;
  margin-left: 100px;
  color: indigo;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Indie Flower', cursive;
  font-style: italic;
  font-weight: bold;
  height:300px; 
  max-height:auto;
}

#ol{

  padding-top: 5px;
  padding-bottom: 5px;
  display: list-item;
  list-style-type: decimal;
}

#form-class{
  margin-left: 20px;
  margin-top: 0px;
  height: 100%;
  bottom: 0;
  overflow: auto;
}

#heading_comment{
  color: darkblue;

}



#heading_comment{
  margin-top: 70px;
  padding-left: 20px;
  padding-top: 5px;
 bottom:0;

}
.comment{
  margin-left: 20px;
  resize: none;
}

.submit_button{
  margin-left: 20px;
  color: darkblue;
  background-color: lightblue;
}




